* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    width: 1600px;
    height: 850px;
}

.top {
    display: flex;
    justify-content: space-between;

}

.nav-hero {
    width: 100%;
}

#Mary {
    color: orange;
}

.hero {
    display: flex;
    justify-content: space-between;
}