* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
}

nav {
    width: 1400px;
    height: 850px;
    margin: 50px 200px;
}

.top {
    display: flex;
    justify-content: space-between;

}


#Mary {
    color: orange;
}

.hero {
    display: flex;
    justify-content: space-between;
}